body{
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
}

h1, h2{
    font-weight: normal;
}

#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.2);
    box-sizing: border-box;
    padding: 0 0 20px;
    overflow: hidden;
    border: 1px solid lightgray;
}

#page-banner{
    background: #eee ;
    padding: 10px 0;

}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#page-banner input{
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #444;
}

#book-list, #add-book, #tabbed-content{
    margin: 30px;
}

#book-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

#book-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;
}

#book-list li:hover{
    border-color: #e91e63;
}

.delete{
    float: right;
    background: #e91e63;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.delete:hover{
    background: #333;
}

#add-book{
    width: 400px;
    margin: 0 auto;
}

#add-book input{
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    width: 300px;
    float: left;
    clear: both;
}

#add-book button{
    border: 1px solid #e91e63;
    background: #e91e63;
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
    margin: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 100px;
    float: left;
    margin: 20px 0;
    border-left: 0;
    color: white;
}

#add-book:after{
    content: '';
    display: block;
    clear: both;
}

#add-book #hide{
  width: 30px;
}

#add-book label{
  line-height: 52px;
}

#tabbed-content li{
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#tabbed-content .panel{
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}

#tabbed-content .panel.active{
    display: block;
}

.xbut{
    box-shadow: none;
    border: none;
    outline: none;
    background: white;
    font-size: x-large;
    opacity: 0.5;
}

.xbut:hover{
    opacity: 1;
    transform: scale(1.4);
}


.liclass{
    display: flex;
    justify-content: space-between;
    width: 796.391px;
}

.para1{
    word-break: break-all;
    font-size: 25px ;
}

.editinput{
    font-size: 25px;
    border: none;
    outline: none;
    height: 78px;
    caret-color: #E74E63;
    caret-width: 5px;
}
.showall{
-webkit-animation: slide-down .25s ease-out;
-moz-animation: slide-down .25s ease-out;
}

@-webkit-keyframes slide-down {
0% { opacity: 0; -webkit-transform: translateY(-100%); }   
100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-down {
0% { opacity: 0; -moz-transform: translateY(-100%); }   
100% { opacity: 1; -moz-transform: translateY(0); }
}

.showall2{
    -webkit-animation: slide-up .25s ease-out;
    -moz-animation: slide-up .25s ease-out;
    }
    
    @-webkit-keyframes slide-up {
    0% { opacity: 0; -webkit-transform: translateY(0); }   
    100% { opacity: 1; -webkit-transform: translateY(-100%); }
    }
    @-moz-keyframes slide-up {
    0% { opacity: 0; -moz-transform: translateY(0); }   
    100% { opacity: 1; -moz-transform: translateY(-100%); }
    }